form {
    .form-row {
        padding: 30px 0;  
        
        h1 {
            padding-bottom: 30px;
        }
    
        .form-senha {
            padding: 30px 0;
        }
    }
    .form-border {
        border-bottom: 1px solid $divider-color;
    }
}