/* First page's Sass, welcome page */
@import 'include/fonts.sass'
@import 'include/palette.sass'
@import '{reywood:bootstrap3-sass}/bootstrap'

body
    margin: 0 !important
    font-family: 'Roboto', sans-serif

.welcome-page
    padding: 0
    position: relative
    img
        width: 100%
        height: auto
        overflow: hidden
        position: relative     
    .text-box
        position: absolute
        bottom: 15%
        right: 2%
        color: $primary-color-text
        width: 25%
        height: auto
        h2
            text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5)
            font-size: 28px
            font-weight: bold
        p
            //color: $accent-color
