<!DOCTYPE html>

<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="text-clor" content="rgb(0, 101, 54)">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-touch-fullscreen" content="YES">
        <meta name="description" content="Web paged based on the MARs project, just for educational purposes">
        
        <title>Stepper</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/palette.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <link href="../bower_components/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

        <!-- JS -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <section>
            <div class="container clearfix">
                <div class="container clearfix">
                    <ul class="stepper clearfix">
                        <li class="completed">
                            <a class="stepper-icon mdi mdi-account" href="#"></a>
                            <h5>Dados Pessoais</h5>
                        </li>
                        <li class="active">
                            <a class="stepper-icon mdi mdi-library-books" href="#"></a>
                            <h5>Formação</h5>
                        </li>
                        <li>
                            <a class="stepper-icon mdi mdi-voice" href="#"></a>
                            <h5>Idiomas</h5>
                        </li>
                        <li>
                            <a class="stepper-icon mdi mdi-wrench" href="#"></a>
                            <h5>Qualificações</h5>
                        </li>
                        <li>
                            <a class="stepper-icon mdi mdi-worker" href="#"></a>
                            <h5>Experiência Profissional</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
   </body>
</html>