<template name="stepper">
    <div class="container clearfix">
        <div class="container clearfix">
            <ul class="stepper clearfix">
                <li class="completed">
                    <a class="stepper-icon mdi mdi-account" href="#"></a>
                    <h5>Dados Pessoais</h5>
                </li>
                <li class="active">
                    <a class="stepper-icon mdi mdi-library-books" href="#"></a>
                    <h5>Formação</h5>
                </li>
                <li>
                    <a class="stepper-icon mdi mdi-message-text" href="#"></a>
                    <h5>Idiomas</h5>
                </li>
                <li>
                    <a class="stepper-icon mdi mdi-wrench" href="#"></a>
                    <h5>Qualificações</h5>
                </li>
                <li>
                    <a class="stepper-icon mdi mdi-worker" href="#"></a>
                    <h5>Experiência Profissional</h5>
                </li>
            </ul>
        </div>
    </div>
</template>
