<template name="stepper">
        <div class="form-wizard-nav">
            <div class="progress"><div class="progress-bar progress-bar-primary"></div></div>
            <ul class="nav nav-justified">
                <li class="active">
                    <a href="#tab1" data-toggle="tab">
                        <span class="stepper-icon mdi mdi-account step"></span> 
                        <span class="title">Dados Pessoais</span>
                    </a>
                </li>
                
                <li>
                    <a href="#tab2" data-toggle="tab">
                        <span class="stepper-icon mdi mdi-library-books step"></span>
                        <span class="title">Formação</span>
                    </a>
                </li>
                
                <li>
                    <a href="#tab3" data-toggle="tab">
                        <span class="stepper-icon mdi mdi-message-text step"></span> 
                        <span class="title">Idiomas</span>
                    </a>
                </li>
                
                <li>
                    <a href="#tab4" data-toggle="tab">
                        <span class="stepper-icon mdi mdi-wrench step"></span> 
                        <span class="title">Qualificações</span>
                    </a>
                </li>
                
                <li>
                    <a href="#tab5" data-toggle="tab">
                        <span class="stepper-icon mdi mdi-worker step"></span> 
                        <span class="title">Experiência Profissional</span>
                    </a>
                </li>
            </ul>
        </div>
</template>

